<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <h5>Create new book</h5>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Title</span>
      </div>
      <input type="text" class="form-control"  formControlName="title">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Author</span>
      </div>
      <input type="text" class="form-control" formControlName="author">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Descreption</span>
      </div>
      <textarea formControlName="description" class="form-control" aria-label="With textarea"></textarea>
    </div>
    <button class="btn btn-warning">Add new book</button>
    <button class="btn btn-info" routerLink="">Back</button>
  </div>
</form>
